*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "General Sans";}

.page-1{
    width: 100vw;
    height: auto;
    padding: 0px 6vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.753),rgba(0, 0, 0, 0.89)), url(backgroundimgmain.jpg);
    background-size: cover;
    background-position: center;}

 .nav{
    width:100%;
    height: 20vh;
    padding: 16px;
    margin-bottom: 2rem;
    border-left: solid 1px rgba(255, 255, 255, 0.737);
    display: flex;
    justify-content: space-between;}

.nav .logo {
    display: flex;
    gap: 3px;
    color: white;
    font-size: 1.8vw;}

.logo #logoP2{
    color: rgba(255, 255, 255, 0.587);}

    .nav .attri i{
        position: absolute;
        visibility: hidden;
    }
    .nav .attri div{
        display: flex;
        font-weight: bold;
        font-size: 11px;
        gap: 6vw;
    }


.attri a{
    color: rgb(36, 209, 186);
    text-decoration: none;
    display: flex;
    height: 1rem;}

.attri a:hover{
    filter: drop-shadow(0px 1px 10px white);}

.attri a p{
    color: white;}

.main{
    width: 100%;
    height: 40vh;
    display: flex;
    color: white;}

.main .icons{
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 17px;
    transform: translateX(-1vw);}

.main .text {
    padding: 3rem 3rem;
    font-size: 2rem;
    line-height: 1.1;}

.main .text .textA .h3-1{
    color: rgb(36, 209, 186);}

.main .text .textA .h3-1:hover{
    filter: drop-shadow(0px 0px 4px rgb(0, 198, 162));}

.main .text .textA .h3-2{
    margin-left: 13vw;}

.main .text .textA .h3-2:hover{
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));}

.main .text .textB{
    width: 260px;
    margin-top: 4vh;
    font-size: 17px;}

.main .text .textB .textB-B{
    text-align: right;}

.last{
    width: 100%;
    height:29vh;
    padding:70px 0px; }

.last .arrowicon{
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 5vw;
    animation-name: arrow;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes arrow {
    
    1%{
        margin-top: 1vh;}

    20%{
            filter: drop-shadow(0px -10px 2px rgb(0, 179, 255));
        margin-top: 2vh;}

    50%{
        margin-top: 4vh;}}

@media (max-width:768px) {
    .nav{
        width: 100%;
        height: 20vh;
        padding: 16px;
        margin-bottom: 1.4rem;
        border-left: solid 1px rgba(255, 255, 255, 0.737);
        display: flex;
        justify-content: space-between;}

    .nav .logo {
        gap: 4px;
        font-size: 14px;}

    .nav .attri{
        display: flex;
        flex-direction: column;
        align-items: end;
        
        font-size:2vw;
        gap: 2vw; 
    padding: 0%;  }

        .nav .attri i{
        
            
            position: relative;
            visibility: visible;
            font-size: 4vw;
        }
       

    .attri a:hover{
        
        filter: drop-shadow(0px 0px 12px white); }
      
        .nav .attri div {
            display: block;
            padding: 1rem;
            margin-top: 20px;
            
            border-radius: 10px;
            position: absolute;
            visibility: hidden;
            
        }
        .nav .attri:hover .visibel{
            visibility: visible;
        }
       
    .main .icons{
        gap: 9px;
        font-size: 20px;}

        .main .text {
        font-size: 8vw;
        padding: 2rem ;
        line-height: 1; }

    .main .text .textB{
        width:50vw ;
        margin-top: 4vh;
        font-size: 3vw;}

    .main .text .textB .textB-B{
        text-align: right;}
    }

.page-2{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.959),rgba(0, 0, 0, 0.952)), url(background-home-2.jpg);
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.918)}

h2{
    font-size: 3vw;
    font-family: sans-serif;}

h2:hover{
    filter:drop-shadow(0px 0px 2px rgb(7, 122, 154));}

.page-2 .page-2-count{
    width: 100%;
    display: flex;
    gap: 8vw;
    margin-top:10vh ;}

.page-2 .page-2-count img{
    height: 50vh;

    opacity: 0.7;
    filter: drop-shadow(0px 0px 5px rgb(52, 252, 255));}

.page-2 .page-2-count img:hover{
    opacity: 0.7;
    filter: drop-shadow(0px 0px 10px rgb(0, 251, 255));}

.page-2-count .page-2-count-1 {
    width: 30vw;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 18px;}

.page-2-count-1 p b{
    color: aqua;}

@media (max-width:768px) {
     h2{
        font-size: 5vw;
    }
    .page-2-count .page-2-count-1 {
        width: 30vw;
        font-size:1.8vw;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        line-height:13px;}

    .page-2 .page-2-count img{
        height: 30vh;
        opacity: 0.8;
        filter: drop-shadow(0px 0px 5px rgb(52, 252, 255));}       
}

.page-3{
    width: 100vw;
    height: 50vh;
    padding: 0px 4vw;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.89)), url(backgroundpage-3.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; }

.page-3-count{
    width: 100%;
    gap:2vw;
    display: flex;
    padding: 1vw;}
    
.page-3-count-box{
    width: 20vw;
    padding: 15px 6px;
    height: 120px;
    gap: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
    border: solid 0.1vw rgb(0, 238, 255);
    font-size: 1.8vw;}

.page-3-count-box:hover{
    box-shadow: 0px 0px 10px 0.1px rgb(0, 208, 255);}

.page-3-count-box h4{
    color: rgb(0, 144, 166); }

.page-3-count-box .pre{
    width:100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    gap: 1vw;}

.page-3-count-box .pre div{
    width: 0.5vw;
    height: 4vh;
    background-color: aqua;}

.page-3-count-box .pre .coloer{
    width: 0.5vw;
    height: 4vh;
    border: solid 1px white;
    background:none;}

.page-3-count-box p{
    font-size: 1rem;
    text-align: right;}

.page-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.879),rgba(0, 0, 0, 0.909)),url(backgroundpage-3.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    gap: 20px;
    padding: 2rem;}

.page-4 .page-4-count{
    width: 100%;
    display: flex;
    flex-direction: row;
align-items: center;  
justify-content: center;
  padding: 0px 5vw;
  gap: 10px;}

.page-4-count .page-4-count-box{
    width:200px;
    height: 129px;
    background-image: url(background-home-2.jpg);
    background-position: center;
    background-size: cover;
    border: solid 1px rgb(1, 255, 251);}
    .page-4-count-box:hover{
        box-shadow: 0px 0px 4px rgb(0, 255, 255);

    }

.page-4-count .page-4-count-boxsn{
    width:200px;
    border: solid 1px rgb(1, 255, 247);
    padding: 2vw ;display: flex;
    flex-direction: column;
    gap: 3vh;
    font-size: 15px;}
    .page-4-count-boxsn:hover{  
          box-shadow: 0px 0px 4px rgb(0, 255, 255);
    }

.page-4-count-boxsn .info{
    display: flex;}

.page-4-count-boxsn .info img{
    height: 4vh;
    border-radius:70px ;}

.page-4-count-boxsn .lol{
    width: 100%; 
    display: flex;
    flex-direction: row;
    gap: 5px;}

.page-4-count-boxsn .lol div{
    width:30px ;
    height: 12px;
    border-radius: 100px;
    background-color: rgb(0, 238, 255);}

.page-4-count-boxsn .lol .col{    
    background: none;
    border: solid 1px white;}

.page-4-count-boxsn p{
    text-align:right;}


@media (0px < width < 768px) {
    .page-4-count .page-4-count-boxsn{
        width:30vw;
        border: solid 1px rgb(1, 213, 255);
        padding: 2vw ;display: flex;
        flex-direction: column;
        gap: 2vh;
        font-size: 15px;}

    .page-4-count-box{
        position: absolute;
        visibility: hidden;}
    }

.page-5{
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    color:white;
    border-top: solid 1px white ;
    padding: 2rem;}

.page-5-count{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}

.page-5-count-box-1{
    width: 100%;
    display: flex;
    text-align: center;
     flex-direction: column;
     gap: 7px;}

.page-5-count-box-1 p a{
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.page-5-count-box-1 p img {
    width: 30px;}
 